{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
  <div class="left">
    <section class="section_chistmas_post section_in_group_useful">
      <h1 class="title_page">О смерти, погребении и поминовении усопших</h1>
      <img src="{% static 'img/about_death_img1.jpg'%}" alt="">
      <ul class="mini_navigation_on_pages">
        <li><a href="#section_about_death_title1">Как выдержать горе при смерти близкого человека?</a></li>
        <li><a href="#section_about_death_title2">Надо ли закрывать зеркало, если кто-то из родных умер?</a></li>
        <li><a href="#section_about_death_title3">Как совершается последнее целование умершего? Надо ли при этом креститься?</a></li>
        <li><a href="#section_about_death_title4">Что делать с иконой, которая была в руках умершего при отпевании?</a></li>
        <li><a href="#section_about_death_title5">Что положено употреблять в пищу на поминках?</a></li>
        <li><a href="#section_about_death_title6">Как помочь усопшему?</a></li>
        <li><a href="#section_about_death_title7">Что читать по усопшему на Пасхальной неделе?</a></li>
        <li><a href="#section_about_death_title8">Существует поверье, что до сорокового дня нельзя ничего отдавать из вещей умершего. Верно ли это?</a></li>
        <li><a href="#section_about_death_title9">Для чего нужна смерть тела?</a></li>
        <li><a href="#section_about_death_title10">Для чего совершается поминовение усопших?</a></li>
        <li><a href="#section_about_death_title11">Что означают 3-й, 9-й, 40-й дни после кончины человека? Что необходимо делать в эти дни?</a></li>
        <li><a href="#section_about_death_title12">Можно ли заказать панихиду по усопшему, если он католик?</a></li>
        <li><a href="#section_about_death_title13">Кто такой новопреставленный, приснопоминаемый?</a></li>
        <li><a href="#section_about_death_title14">Что можно сделать для усопшего, если его погребли без отпевания?</a></li>
        <li><a href="#section_about_death_title15">Молятся ли за нас усопшие?</a></li>
        <li><a href="#section_about_death_title16">Надо ли служить панихиду по младенцу?</a></li>
        <li><a href="#section_about_death_title17">Можно ли заочно отпеть погибшего в войну, если неизвестно место его захоронения?</a></li>
        <li><a href="#section_about_death_title18">Правда ли, что на 40-й день поминовение усопшего надо обязательно заказать сразу в трех храмах, либо в одном, но последовательно три службы?</a></li>
        <li><a href="#section_about_death_title19">Зачем надо приносить в храм продукты?</a></li>
        <li><a href="#section_about_death_title20">Что такое канун?</a></li>
        <li><a href="#section_about_death_title21">Какие продукты можно положить на канун?</a></li>
        <li><a href="#section_about_death_title22">Если человек умер в сплошную седмицу перед Петровым постом, это что-либо означает?</a></li>
        <li><a href="#section_about_death_title23">Какая душа не проходит мытарств после смерти?</a></li>
        <li><a href="#section_about_death_title24">Говорят, что умершие на Светлой седмице получают Царствие Небесное. Так ли это?</a></li>
        <li><a href="#section_about_death_title25">Сколько дней носят траур по усопшему?</a></li>
        <li><a href="#section_about_death_title26">Надо ли в годовщину смерти близкого родственника идти на кладбище?</a></li>
        <li><a href="#section_about_death_title27">Можно ли кремировать усопших?</a></li>
        <li><a href="#section_about_death_title28">Что делать, если снится умерший человек?</a></li>
        <li><a href="#section_about_death_title29">Что делать, если после смерти близкого человека мучает совесть о неправильном отношении к нему при жизни?</a></li>
        <li><a href="#section_about_death_title30">Что делать при посещении кладбища?</a></li>
        <li><a href="#section_about_death_title31">Можно ли устраивать «поминки» на кладбище?</a></li>
        <li><a href="#section_about_death_title32">Надо ли в Пасху, Троицу, День Святого Духа идти на кладбище?</a></li>
      </ul>
      <h2 id="section_about_death_title1">Как выдержать горе при смерти близкого человека?</h2>
      <p>Скорбь разлуки с почившим может быть утолена лишь молитвой о нем. Христиане веруют, что жизнь со смертью не кончается, что смерть тела не есть смерть души, что душа бессмертна. Поэтому провожать душу усопшего надо в тихой молитве. «Не предавай
        сердца твоего печали; отдаляй ее от себя, вспоминая о конце. Не забывай о сем, ибо нет возвращения; и ему ты не принесешь пользы, а себе повредишь. С упокоением умершего успокой и память о нем, и утешься о нем по исходе души его».</p>
      <h2 id="section_about_death_title2"> Надо ли закрывать зеркало, если кто-то из родных умер?</h2>
      <p>Обычай завешивать зеркала в доме, где произошла смерть, частично происходит из поверья, что тот, кто увидит в зеркале этого дома свое отражение, тоже скоро умрет. «Зеркальных» суеверий много, некоторые из них связаны с гаданиями на зеркалах.
      </p>
      <p>А там, где магия и колдовство, неизбежно появляются страх и суеверия. Завешанное зеркало никак не влияет на продолжительность жизни, которая всецело зависит от Господа.</p>
      <h2 id="section_about_death_title3">Как совершается последнее целование умершего? Надо ли при этом креститься?</h2>
      <p>– Прощальное целование умершего происходит после его отпевания в храме. Целуют в венчик, положенный на лоб покойного или прикладываются к иконе в его руках. Крестятся при этом на икону.</p>
      <h2 id="section_about_death_title4">Что делать с иконой, которая была в руках умершего при отпевании?</h2>
      <p>Что делать с иконой, которая была в руках умершего при отпевании?</p>
      <h2 id="section_about_death_title5">Что положено употреблять в пищу на поминках?</h2>
      <p>– По традиции после погребения собирается поминальный стол. Поминальная трапеза является продолжением богослужения и молитвы об усопшем. Поминальная трапеза начинается с вкушения принесенной из храма кутии.</p>
      <img src="{% static 'img/about_death_img2.jpg'%}" alt="">
      <p>Кутия или коливо – это вареные зерна пшеницы или риса с медом. Также вкушают блины, сладкий кисель. В постный день и пища должна быть постной. Поминальная трапеза должна отличаться от шумного пира благоговейной тишиной и добрыми словами о
        почившем.</p>
      <p>К сожалению, укоренился плохой обычай поминать за этим столом усопшего водкой с обильной закуской. То же самое повторяется и в девятый, и в сороковой дни. Это грешно и постыдно со стороны христиан – совершать такое поминовение, приносящее
        невыразимую скорбь новопреставленной душе, которой в эти дни выносится решение Божьего Суда, и она жаждет особенно усердной молитвы к Богу.</p>
      <h2 id="section_about_dabout_deatheath_title6">Как помочь усопшему?</h2>
      <p>– Облегчить участь усопшего вполне возможно, если творить за него частые молитвы и раздавать милостыню. Хорошо ради усопшего потрудиться для Церкви или в монастыре.</p>
      <h2 id="section_about_death_title7">Что читать по усопшему на Пасхальной неделе?</h2>
      <p>– Если человек умер на Светлой седмице (от дня Святой Пасхи до субботы Светлой седмицы включительно), то читают Пасхальный канон. Вместо Псалтири на Светлой седмице читают Деяния святых апостолов.</p>
      <h2 id="section_about_death_title8">Существует поверье, что до сорокового дня нельзя ничего отдавать из вещей умершего. Верно ли это?</h2>
      <p>– Ходатайствовать за подсудимого нужно до суда, а не после него. После смерти, когда душа проходит мытарства, совершается суд, надо ходатайствовать за нее: молиться и совершать дела милосердия. Надо делать добро за усопшего: жертвовать в
        монастырь, в церковь, раздавать вещи умершего, покупать священные книги и дарить верующим со дня его смерти до сорокового дня и после него. В 40 дней после смерти душа определяется в то место (блаженства или мучения), в котором она будет
        пребывать до Страшного Суда, до второго Пришествия Христова. До наступления Страшного Суда можно изменить загробную участь усопшего усиленной молитвой за него и милостыней.</p>
      <h2 id="section_about_death_title9">Для чего нужна смерть тела?</h2>
      <p>– «Бог не сотворил смерти и не радуется погибели живущих, ибо Он создал все для бытия»(Прем.1:13,14). Смерть появилась в результате грехопадения первых людей. «Праведность бессмертна, а неправда причиняет смерть: нечестивые привлекли ее и
        руками и словами, сочли ее другом и исчахли, и заключили союз с нею, ибо они достойны быть ее жребием»(Прем.1:15,16). Для многих людей смерть является средством спасения от духовной гибели. Так, например, дети, умирающие в раннем возрасте, не
        знают греха. Смерть сокращает сумму общего зла на земле. Что представляла бы из себя жизнь, если бы вечно существовали убийцы-Каины, предающие Господа Иуды и другие им подобные? Поэтому смерть тела не «нелепа», как про нее говорят люди мира, а
        необходима и целесообразна.</p>
      <h2 id="section_about_death_title10"> Для чего совершается поминовение усопших?</h2>
      <img src="{% static 'img/about_death_img3.jpg'%}" alt="">
      <p>– Пока человек жив, он способен каяться в грехах и творить добро. Но после смерти эта возможность исчезает, остается лишь надежда на молитвы живых. После смерти тела и частного суда душа находится в преддверии вечного блаженства или вечных
        мук. Это зависит от того, как была прожита краткая земная жизнь. Но многое зависит и от молитвы за умершего. Жития святых угодников Божиих содержат множество примеров того, как по молитве праведников облегчалась посмертная участь грешников –
        вплоть до их полного оправдания.</p>
      <h2 id="section_about_death_title11"> Что означают 3-й, 9-й, 40-й дни после кончины человека? Что необходимо делать в эти дни?</h2>
      <p>– Святое Предание благовествует нам со слов святых подвижников веры и благочестия о тайне испытания души после отшествия ее от тела. Первые два дня душа преставившегося пребывает еще на земле и с сопровождающим ее Ангелом ходит по тем местам,
        которые притягивают ее воспоминанием земных радостей и горестей, добрых дел и злых. Так проводит душа первые два дня, в третий же день Господь, во образ Своего тридневного Воскресения, повелевает душе вознестись на небеса для поклонения Ему –
        Богу всяческих. В этот день благовременно церковное поминовение души усопшего, представшей пред Богом.</p>
      <p>Потом душа в сопровождении Ангела заходит в райские обители и созерцает их несказанную красоту. В таком состоянии душа пребывает шесть дней – от третьего до девятого. В девятый день Господь повелевает Ангелам опять представить душу к Нему на
        поклонение. Со страхом и трепетом предстоит душа пред Престолом Всевышнего. Но и в это время Святая Церковь опять молится за усопшего, прося Милосердного Судию о водворении со святыми души преставившегося.</p>
      <p>После вторичного поклонения Господу Ангелы отводят душу в ад, и она созерцает жестокие муки нераскаявшихся грешников. В сороковой день по смерти душа в третий раз возносится к Престолу Божию. Теперь решается ее участь – ей назначается
        определенное место, которого она удостоилась по делам своим. Потому так благовременны церковные молитвы и поминовения в этот день. Ими испрашивается прощение грехов и водворение души умершего в раю со святыми. В эти дни совершаются панихиды и
        литии.</p>
      <img src="{% static 'img/about_death_img4.jpg'%}" alt="">
      <p>Поминовение умершего в 3-й день после его смерти Церковь совершает в честь тридневного Воскресения Иисуса Христа и во образ Пресвятой Троицы. Поминовение в 9-й день совершается в честь девяти чинов ангельских, которые, как слуги Царя Небесного
        и предстатели к Нему ходатайствуют о помиловании преставившегося. Поминовение в 40 -й день, по преданию апостолов, имеет основанием сорокадневный плач израильтян о кончине Моисея. Кроме того, известно, что сорокадневный период весьма
        знаменателен в истории и Предании Церкви как время, необходимое для приуготовления, принятия особого Божественного дара, для получения благодатной помощи Отца Небесного. Так, пророк Моисей удостоился беседовать с Богом на горе Синай и получить
        от Него скрижали Закона лишь по прошествии сорокадневного поста. Пророк Илия достиг горы Хорив через сорок дней. Израильтяне достигли земли обетованной после сорокалетнего странствия по пустыне. Сам Господь наш Иисус Христос вознесся на небо в
        сороковой день по Воскресении Своем. Принимая все это за основание, Церковь установила совершать поминовение усопших в 40-й день по их смерти, чтобы душа преставившегося взошла на святую гору Небесного Синая, удостоилась лицезрения Божия,
        достигла обетованного ей блаженства и водворилась в небесных селениях с праведниками.</p>
      <p>Во все эти дни очень важно заказывать поминание усопшего в Церкви, подав записки на Литургию и (или) панихиду.</p>
      <h2 id="section_about_death_title12">Можно ли заказать панихиду по усопшему, если он католик?</h2>
      <p>– Частная, келейная (домашняя) молитва об инославном усопшем не запрещается – можно поминать его дома, у гроба прочесть псалмы. В храмах не отпевают и не поминают тех, кто никогда не принадлежал к Православной Церкви: католиков, протестантов,
        иноверцев и всех, умерших некрещеными. Чин отпевания и панихиды составлены с уверенностью, что умерший и отпеваемый был верным членом Православной Церкви. Будучи вне Церкви при жизни, еретики и раскольники еще дальше отстоят от нее после
        смерти, ибо тогда для них закрывается сама возможность покаяния и обращения к свету истины.</p>
      <h2 id="section_about_death_title13">Кто такой новопреставленный, приснопоминаемый?</h2>
      <p>– В течение сорока дней после кончины усопшего называют новопреставленным. В памятные для усопшего дни (кончины, именин, рождения) он именуется приснопоминаемым или приснопамятным.</p>
      <h2 id="section_about_death_title14">Что можно сделать для усопшего, если его погребли без отпевания?</h2>
      <p>– Если он был крещен в Православной Церкви, то надо прийти в храм и заказать заочное отпевание, а также заказывать сорокоусты, панихиды.</p>
      <h2 id="section_about_death_title15">Молятся ли за нас усопшие?</h2>
      <p>– Если усопший праведен, то сам он, находясь перед Престолом Божиим, ответит на любовь молящихся о нем и своей горячей молитвой.</p>
      <h2 id="section_about_death_title16"> Надо ли служить панихиду по младенцу?</h2>
      <p>– Умерших младенцев отпевают и по ним служат панихиды, но в молитвах просят не о прощении грехов (так как у младенцев нет сознательно совершенных грехов), а просят сподобить их Царства Небесного.</p>
      <h2 id="section_about_death_title17"> Можно ли заочно отпеть погибшего в войну, если неизвестно место его захоронения?</h2>
      <p>– Если погибший был крещеным, то его можно заочно отпеть, а полученную после заочного отпевания землю надо крестообразно посыпать на любую могилку на православном кладбище. Традиция совершать заочное отпевание и появилась в ХХ веке в России в
        связи с большим количеством погибших в войне, и так как часто бывало невозможно совершить последование отпевания над телом умершего по причине отсутствия храмов и священников, по причине гонения на Церковь и преследования верующих. Бывают и
        случаи трагической смерти, когда невозможно найти тело погибшего. В таких случаях допустимо заочное отпевание.</p>
      <h2 id="section_about_death_title18">Правда ли, что на 40-й день поминовение усопшего надо обязательно заказать сразу в трех храмах, либо в одном, но последовательно три службы?</h2>
      <p> – Сразу после смерти принято заказывать в Церкви сорокоуст. Это ежедневное усиленное поминовение новопреставленного в течение первых сорока дней – до частного суда, определяющего участь души за гробом. После сорока дней хорошо заказать
        годовое поминовение и потом каждый год его возобновлять. Можно заказать и более долговременное поминовение в монастырях. Есть благочестивый обычай – заказывать поминовение в нескольких монастырях и храмах, (число их не имеет значения). Чем
        больше будет молитвенников за усопшего, тем лучше..</p>
      <h2 id="section_about_death_title19"> Зачем надо приносить в храм продукты?</h2>
      <p>– Верующие приносят в храм различную снедь для того, чтобы служители Церкви помянули усопших за трапезой. Эти приношения служат пожертвованием, милостыней за преставившихся. В прежние времена во дворе дома, где был усопший, в наиболее значимые
        для души дни (3-й, 9-й, 40-й) накрывали поминальные столы, за которыми кормили нищих, бездомных, сирот, чтобы было много молитвенников за умершего. За молитву и, особенно за милостыню, прощаются многие грехи, и облегчается загробная участь.
        Затем эти поминальные столы стали ставить в храмах в дни вселенского поминовения всех от века скончавшихся христиан с той же целью – помянуть усопших.</p>
      <h2 id="section_about_death_title20">Что такое канун?</h2>
      <p>– Канун (или канунник) – это специальный стол (квадратной или прямоугольной формы), на котором стоит Крест с Распятием и устроены лунки для свечей. Перед кануном служат панихиды. Здесь ставят свечи и можно положить продукты для поминовения
        усопших.</p>
      <h2 id="section_about_death_title21">Какие продукты можно положить на канун?</h2>
      <p>– Обычно на канун кладут хлеб, печенье, сахар – все то, что не противоречит посту. Можно пожертвовать на канун лампадное масло, кагор. Запрещается приносить в храм мясную пищу.</p>
      <h2 id="section_about_death_title22">Если человек умер в сплошную седмицу перед Петровым постом, это что-либо означает?</h2>
      <p>– Ничего не означает. Господь только тогда прекращает жизнь человека, когда видит его готовым к переходу в вечность или же когда не видит никакой надежды на его исправление. «Не ускоряйте смерти заблуждениями вашей жизни и не привлекайте к
        себе погибели делами рук ваших»(Прем.1:12). «Не предавайся греху, и не будь безумен: зачем тебе умирать не в свое время?»(Еккл.7:17).</p>
      <h2 id="section_about_death_title23">Какая душа не проходит мытарств после смерти?</h2>
      <p>– Из Священного Предания известно, что даже Божия Матерь, получив извещение от архангела Гавриила о приближающемся часе Ее переселения на небо, повергшись пред Господом, со смирением умоляла Его, чтобы, в час исхода Ее души, не видать Ей князя
        тьмы и адских страшилищ, но чтобы Сам Господь принял душу Ее в Свои Божественные руки. Тем более грешному роду человеческому полезнее думать не о том, кто не проходит мытарств, а о том, как их пройти и все делать для очищения совести,
        исправления жизни по заповедям Божиим. «Сущность всего: бойся Бога и заповеди Его соблюдай, потому что в этом все для человека; ибо всякое дело Бог приведет на суд, и все тайное, хорошо ли оно, или худо» (Еккл.12:13,14).</p>
      <img src="{% static 'img/about_death_img5.jpg'%}" alt="">
      <h2 id="section_about_death_title24">Говорят, что умершие на Светлой седмице получают Царствие Небесное. Так ли это?</h2>
      <p>– Посмертная участь умерших известна только Господу. «Как ты не знаешь путей ветра и того, как образуются кости во чреве беременной, так не можешь знать дело Бога, Который делает все» (Еккл.11:5). Тот, кто жил благочестиво, делал добрые дела,
        носил крест, каялся, исповедовался и причащался – тот по милости Божией может сподобиться блаженной жизни в вечности и независимо от времени кончины. А если человек всю свою жизнь проводил в грехах, не исповедовался и не причащался, но умер на
        Светлой седмице, как можно утверждать, что он получил Царствие Небесное?</p>
      <h2 id="section_about_death_title25">Сколько дней носят траур по усопшему?</h2>
      <p>– Существует традиция сорокадневного ношения траура по усопшему близкому человеку, так как на сороковой день душа умершего получает определенное место, в котором она будет находиться до времени Страшного Суда Божия. Именно поэтому до
        сорокового дня требуется усиленная молитва о прощении грехов усопшего, и внешнее ношение траура призвано способствовать внутренней сосредоточенности и вниманию к молитве, удерживать от активного вовлечения в прежние житейские дела. Но можно
        иметь молитвенный настрой и без ношения черной одежды. Внутреннее важнее внешнего.</p>
      <h2 id="section_about_death_title26">Надо ли в годовщину смерти близкого родственника идти на кладбище?</h2>
      <p>– Главными днями памяти усопшего являются годовщины кончины и тезоименитства. День кончины – это день второго рождения, но уже для новой – не земной, а вечной жизни. Прежде чем посетить кладбище, следует прийти в храм к началу службы и подать
        записку с именем усопшего для поминовения в алтаре (лучше, если это будет поминание на проскомидии).</p>
      <h2 id="section_about_death_title27">Можно ли кремировать усопших?</h2>
      <p>– Кремация – это чуждый Православию обычай, заимствованный от восточных культов. В священных книгах нет запрещения сжигать тела усопших, но имеются положительные указания христианского вероучения на иной и единственно допустимый способ
        погребения тел – это предание их земле (см.: Быт.3:19; Ин.5:28; Мф.27:59,60). Этот способ погребения, принятый Церковью с самого начала ее существования и освящаемый ею особым чинопоследованием, стоит в связи со всем христианским мировоззрением
        и с самою его сущностью – верой в воскресение умерших. По силе этой веры погребение в земле есть изображение временного усыпления умершего, для которого могила в недрах земли и есть естественное ложе упокоения и который поэтому и называется
        Церковью усопшим (а по мирскому – покойником) до воскресения. И если предание земле тел усопших вселяет и укрепляет христианскую веру в воскресение, то сожжение умерших легко роднится с антихристианским учением о небытии. Если усопший завещал
        кремировать себя, нарушить эту предсмертную волю не грешно. Кремация может быть допустима лишь в исключительных случаях, когда нет никакой возможности предать тело усопшего земле.</p>
      <h2 id="section_about_death_title28"> Что делать, если снится умерший человек?</h2>
      <p>– На сны не надо обращать внимания. Однако не стоит забывать, что вечно живая душа усопшего испытывает великую потребность в постоянной молитве за нее, потому что сама уже не может творить добрых дел, которыми была бы в состоянии умилостивить
        Бога. Поэтому молитва (в храме и дома) за усопших близких – долг каждого православного христианина.</p>
      <h2 id="section_about_death_title29"> Что делать, если после смерти близкого человека мучает совесть о неправильном отношении к нему при жизни?</h2>
      <p>– Для умершего человека живущий может сделать гораздо больше, чем когда тот был жив. Усопшие очень нуждаются в молитве и подаваемой за них милостыне. Поэтому надо все свои силы отдать молитве: читать дома Псалтирь, подавать в храме записки о
        поминовении, кормить нищих и бездомных, помогать старым и больным и просить их поминать усопшего. А чтобы успокоилась совесть, надо пойти в храм на Исповедь и искренне рассказать священнику все, в чем она обличает.</p>
      <h2 id="section_about_death_title30">Что делать при посещении кладбища?</h2>
      <img src="{% static 'img/about_death_img6.jpg'%}" alt="">
      <p>– Придя на кладбище, надо прибрать могилу. Можно зажечь свечу. Если есть возможность, пригласить священника для совершения литии. Если такой возможности нет, то можно самостоятельно прочитать краткий чин литии, предварительно приобретя в храме
        или православном магазине соответствующую брошюру. По желанию можно прочитать акафист о упокоении усопших. Просто помолчать, вспомнить покойного.</p>
      <h2 id="section_about_death_title31">Можно ли устраивать «поминки» на кладбище?</h2>
      <p>– Кроме освященной в храме кутии на кладбище не стоит ничего есть и пить. Особенно недопустимо лить водку в могильный холм – этим оскорбляется память покойного. Обычай оставлять на могиле рюмку водки и кусок хлеба «для усопшего» является
        пережитком язычества и не должен соблюдаться православными. Не надо оставлять на могиле еду – лучше отдать ее нищему или голодному.</p>
      <h2 id="section_about_death_title32">Надо ли в Пасху, Троицу, День Святого Духа идти на кладбище?</h2>
      <p>– Воскресные и праздничные дни следует проводить в молитве в храме Божием, а для посещения кладбища существуют особые дни поминовения усопших – родительские субботы, Радоница, а также годовщины кончины и дни тезоименитства усопших</p>
    </section>
  </div>
{% endblock %}
