{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
<div class="left">
  <section class="section_burial_service section_in_group_useful">
    <h1 class="title_page">Отпевания</h1>
    <img src="{% static 'img/burial_service_img1.gif'%}" alt="">
    <ul class="mini_navigation_on_pages">
      <li><a href="#section_burial_service_title1">Что называется отпеванием?</a></li>
      <li><a href="#section_burial_service_title2">Какая разница между чинопоследованием и обрядом?</a></li>
      <li><a href="#section_burial_service_title3">Есть ли разница между отпеванием и панихидой?</a></li>
      <li><a href="#section_burial_service_title4">Может ли панихида быть гражданской?</a></li>
      <li><a href="#section_burial_service_title5">Что такое лития?</a></li>
      <li><a href="#section_burial_service_title6">Является ли отпевание «пропуском в рай»?</a></li>
      <li><a href="#section_burial_service_title7">Кому может быть отказано в отпевани?</a></li>
      <li><a href="#section_burial_service_title8">Можно ли отпевать пьяниц, наркоманов и бандитов?</a></li>
      <li><a href="#section_burial_service_title9">Можно ли отпевать самоубийц?</a></li>
      <li><a href="#section_burial_service_title10">Почему священники отказываются отпевать неверующих?</a></li>
      <li><a href="#section_burial_service_title11">Что близкие могут сделать для душ родственников, которые умерли неверующими?</a></li>
      <li><a href="#section_burial_service_title12">Что надо делать во время отпевания?</a></li>
      <li><a href="#section_burial_service_title13">Стоит ли брать с собой на похороны и поминки детей?</a></li>
      <li><a href="#section_burial_service_title14">Сколько стоит отпевание?</a></li>
      <li><a href="#section_burial_service_title15">Где может происходить отпевание?</a></li>
      <li><a href="#section_burial_service_title16">Как проходит отпевание?</a></li>
      <li><a href="#section_burial_service_title17">Что означает венчик на голове покойного?</a></li>
      <li><a href="#section_burial_service_title18">В какие дни отпевания не совершаются?</a></li>
      <li><a href="#section_burial_service_title19">Существует ли заочное отпевание?</a></li>
      <li><a href="#section_burial_service_title20">Что делать родственникам умершего, если они не знают, был ли он отпет?</a></li>
      <li><a href="#section_burial_service_title21">Можно ли отпевать новопреставленного вместе с другими покойными?</a></li>
      <li><a href="#section_burial_service_title22">Может ли душа попасть на Небеса без отпевания?</a></li>
      <li><a href="#section_burial_service_title23">Почему облачения священников так резко контрастируют с траурной одеждой скорбящих близких умершего?</a></li>
      <li><a href="#section_burial_service_title24">Что означают свечи, которые держат в руках присутствующие на отпевании люди?</a></li>
    </ul>
    <h2 id="section_burial_service_title1">Что называется отпеванием?</h2>
    <p>Отпеванием называется молитвенное чинопоследование, учрежденное Церковью для напутствия и проводов людей в другой мир. Отпевание – это народное название, которое было дано этому чинопоследованию потому, что более половины молитв в нем поется.
      Правильное название отпевания – «последование мертвенное». Проведение этого чинопоследования свидетельствует о том, что умерший принадлежал православной общине, и теперь люди собрались для того, чтобы проводить его в последний земной путь. Если
      умерший был членом Православной Церкви, если он занимался своей духовной жизнью, если он исповедовался и причащался (хотя бы иногда), если он, хотя бы минимально, участвовал в жизни общины – Церковь может его напутствовать.</p>
    <h2 id="section_burial_service_title2">Какая разница между чинопоследованием и обрядом?</h2>
    <p>Погребение является обрядом, но отпевание — нечто большее, чем просто обряд. Обряд – это только внешнее, символическое выражение сути верования. При помощи обряда человек старается облечь невидимое в видимое, чтобы сделать его более понятным.
      Но за формой всегда стоит что-то еще. Само слово «обряд» происходит от слова «обряжать», т.е. «приводить в должный вид». Например, русские священнослужители во время церемоний обряжаются, в соответствии с церковными правилами, в различные
      облачения. У греков, или у каких-либо других народов, эти облачения могут отличаться по форме, но суть чинопоследования, в котором они принимают участие, не изменится. Или, например, священник при проведении Таинства Венчания на словах «славой
      и честью венчай их» поднимает руки – это церемониальная, обрядовая сторона. Если он по ошибке или немощи не поднимет, а опустит руки, то ничего не изменится. Т.е внешняя форма совершения может случайно измениться, но суть, которая именуется
      таинством, останется той же. То же самое можно сказать и о других обрядах, которые могут отличаться друг от друга по форме, но при этом будут иметь абсолютно идентичное содержание.</p>
    <h2 id="section_burial_service_title3">Есть ли разница между отпеванием и панихидой?</h2>
    <p>Панихида — это заупокойная молитва об умершем. Она может совершаться и до отпевания, и после. Чинопоследование, которое называют отпеванием, совершается над усопшим единожды, в день его погребения.</p>
    <h2 id="section_burial_service_title4">Может ли панихида быть гражданской?</h2>
    <p>Гражданской панихиды не бывает. «Гражданская панихида» – это бессмысленное, нелепое нагромождение слов. Это примерно то же самое, что и «гражданский военный». Возникает вопрос, так он гражданский или военный? Ведь гражданских военных не
      бывает. В безбожные годы слово «панихида» украли из церковного словаря и приспособили под гражданские нужды.</p>
    <p>На самом деле такое мероприятие было бы логичнее называть церемонией светского прощания. Или светской церемонией прощания с покойным.</p>
    <h2 id="section_burial_service_title5">Что такое лития?</h2>
    <p>Лития – заканчивающая часть панихиды. Это богослужение представляет собой весьма краткое моление. Кстати, лития за близкого может совершаться на могиле или дома не только священнослужителем, но и простым мирянином.</p>
    <h2 id="section_burial_service_title6">Является ли отпевание «пропуском в рай»?</h2>
    <p>Это просто безобразное, дикое, оскорбительное, практически магическое восприятие отпевания. Люди, которые так воспринимают это чинопоследование, вообще не понимают того, что происходит. Как мы уже говорили, во время отпевания все
      присутствующие должны соборно молиться о том, чтобы душа прошла те испытания, с которыми она неминуемо сталкивается после смерти. Покинув тело, душа начинает страдать от своих же собственных несовершенств и страстей. Именно поэтому Церковь
      призывает верующих бороться со страстями, изменять себя в лучшую сторону. Молитвы, произносимые во время отпевания, очень помогают душе, утешают ее. Но ни в коем случае нельзя думать, что с помощью отпевания мы можем определять состояние этой
      души в Вечности, а тем более проводить суд над ней! Это ложное понимание смысла отпевания. Это дерзкое навязывание Богу своих желаний и представлений. Бог принимает во внимание нашу любовь, выраженную в наших молитвах (в т.ч. и в отпевании),
      милостыне, милосердии. Но вершит Суд именно Он, а не мы. И, самое главное, что надо понять, отпевание – это не автоматическое прощение грехов! Отпевание освобождает усопшего от обременявших его грехов, в которых он покаялся или которые не мог
      вспомнить на исповеди, после чего душа его примиряется с Богом и ближними, и затем отпускается в загробную жизнь.</p>
    <h2 id="section_burial_service_title7">Кому может быть отказано в отпевании?</h2>
    <p>Священник может отказать в отпевании тогда, когда доподлинно знает, что новопреставленный при жизни хулил Бога или попросил в завещании не отпевать его.</p>
    <h2 id="section_burial_service_title8">Можно ли отпевать пьяниц, наркоманов и бандитов?</h2>
    <p>Пьяниц и наркоманов в нынешнее время Церковь считает порочными людьми. А порочных людей отпевать можно.</p>
    <h2 id="section_burial_service_title9">ЧМожно ли отпевать самоубийц?</h2>
    <p>Суицидентов Церковь не отпевает. Исключениями являются только те случаи, когда самоубийца был психически нездоров. Тогда Церковь может отпеть усопшего, но прежде его родственникам надо будет получить специальное разрешение в епархиальном
      управлении.</p>
    <h2 id="section_burial_service_title10">Почему священники отказываются отпевать неверующих?</h2>
    <p>Ничего не меняется после отпевания у человека, который при жизни не исповедовал Бога. А, тем более, если он позиционировал себя атеистом или агностиком, смеялся над верой и верующими, а, может, даже был их гонителем. Что может измениться для
      такого человека? Он же никогда не каялся, не исповедовался, не стремился к Богу, не желал Его. Только представьте, что происходит с душой человека, которую насильно толкают к Богу, в то время как она сама отторгается от Него, не признает Его,
      мучается этим, страдая при этом еще больше! Вообразите, что вы насильно вталкиваете в кабинет президента человека, который знать не хочет о существовании главы государства. Но вы не считаетесь с его мнением, и навязываете своему родственнику
      общение с президентом, пытаетесь заставить его обсудить с ним важные вопросы… Вы представляете себе последствия такой «медвежьей» услуги? А если это не президент, а Бог, власть которого в миллионы раз превышает власть любого президента?</p>
    <p>Не стоит навязывать душе близкого общение, которого он не хотел при жизни. Не следует делать себя вершителем, равным Богу.</p>
    <h2 id="section_burial_service_title11">Что близкие могут сделать для душ родственников, которые умерли неверующими?</h2>
    <p>Ради грешной души близкого человека мы можем творить милостыню, совершать дела милосердия, поститься, молиться, и, тем самым, примирять душу ушедшего близкого с Богом. При этом надо помнить о том, что президент не ждет каждого из нас, а вот
      Бог принимает каждого, кто обращается к Нему. Так что, нет причины для отчаяния. Наоборот, у нас еще есть время для совершения необходимых дел, которые могут помочь душам покойных родных и близких.</p>
    <h2 id="section_burial_service_title12">Что надо делать во время отпевания?</h2>
    <p>Любить! Молитва за умершего должна исходить не только из уст, но и из сердца любящего человека. Он также должен доказывать свою любовь не только словом, но и делом. Любовь определяется степенью жертвенности человека. Как доказать свою любовь?
      Потрудись для души того, кто сам уже не может для нее потрудиться. Любой человек может почитать Псалтирь о новопреставленном. Читать надо по кафизме в день, и не просто механически читать, а стараться понимать то, о чем читаешь – это первое.
      Второе –– это Акафист по единоумершему, который имеет уникальное содержание. Его тоже следует читать после того как прочитали Псалтирь, в течение сорока дней. А в некоторых случаях, если есть такая возможность, можно читать Псалтирь и Акафист
      вместе. Например, утром Псалтирь, а вечером Акафист. И, конечно, читать эти дивные молитвы нужно не лежа на диване, а серьезно, с пониманием того, перед Кем ты их читаешь. И, конечно, по возможности необходимо творить милостыню, дела милосердия
      за усопшего. Именно это, а не выворачивающие душу демонстративные и не демонстративные проявления скорби, является настоящим показателем любви к умершему.</p>
    <h2 id="section_burial_service_title13">Стоит ли брать с собой на похороны и поминки детей?</h2>
    <p>Ребенок обязательно должен видеть, что наша природа страстна, тленна и смертна. И в отпевании покойного мы должны видеть еще один урок, для самих себя и для своих детей! Этот великий урок заключается в том, что новопреставленный на своем
      примере показывает, что с нами будет. И это дает всем присутствующим на отпевании людям возможность еще раз задуматься о бренности своего бытия, об истинном смысле жизни, о векторе своего развития.</p>
    <p>Ужасно, что сейчас смерть стали прятать от детей. Во-первых, они пугаются, потому что чувствуют, что от них скрывают что-то важное. Когда взрослые мямлят что-то типа «дедушки больше нет, и видеть тебе этого не надо», а сами при этом рыдают,
      для ребенка понятие «смерть» становится ужасом. И, конечно, он не воспринимает ее как часть жизни или рождение в Вечность. Он начинает воспринимать смерть как катастрофу. А ведь ему придется в жизни много раз с ней столкнуться, и не только с
      чужой, но и с подготовкой к собственной смерти. И те ложные представления, которые навязали ему в детстве родители, когда скрывали от него покойных, очень плохо отразятся на его психическом состоянии.</p>
    <h2 id="section_burial_service_title14">Сколько стоит отпевание?</h2>
    <p>Вообще-то в церкви никаких тарифов быть не должно. Примерные суммы пожертвований да, для удобства тех, кто хочет пожертвовать. К искоренению этой постсоветской традиции постоянно призывает священноначалие.</p>
    <h2 id="section_burial_service_title15">Где может происходить отпевание?</h2>
    <p>Отпевание должно совершаться в храме. В исключительных случаях это чинопоследование совершается прямо на могилах (раньше это допускалось во время ведения военных действий или эпидемий). Но сейчас войны, слава Богу, нет! Иногда отпевание может
      совершаться и дома. Но, если уж хоронят верующего, то, что мешает родственникам принести его тело в храм – дом Божий? Ведь душе приятно и отрадно находиться там! Кстати, с давних времен по традиции умершего не только отпевали в храме, но и
      оставляли его там на три дня. И в течение этого времени, вплоть до похорон читали по усопшему Псалтирь.</p>
    <h2 id="section_burial_service_title16">Как проходит отпевание?</h2>
    <p>У православных принято хоронить в гробу, который до конца отпевания остается открытым (если для этого нет особых препятствий). Отпевание и погребение принято совершать на третий день. Первым днем считается сам день кончины. То есть, если
      человек преставился во вторник до полуночи, то хоронить его принято в четверг, а если в субботу, то в понедельник.</p>
    <p>Тело усопшего в гробу покрывают особым белым покровом (саваном) — в знак того, что усопший, принадлежавший к Православной Церкви и соединившийся с Христом в ее святых Таинствах, находится под покровом Христовым, под покровительством Церкви —
      она до скончания века будет молиться о его душе. Покров этот украшен надписями с текстами молитв и выдержками из Священного Писания, изображением крестного знамени и ангелов. Близкие просят прощения за невольные обиды, прикладываются к иконе на
      груди усопшего и к венчику на лбу. В том случае, когда отпевание происходит при закрытом гробе, целуют крест на крышке гроба.</p>
    <p>В конце отпевания, по прочтении Апостола и Евангелия, священник читает разрешительную молитву. После чтения разрешительной молитвы происходит прощание с покойным. Родные и близкие усопшего с поклоном обходят гроб с телом.</p>
    <h2 id="section_burial_service_title17">Что означает венчик на голове покойного?</h2>
    <p>Бумажный венчик – это символ венца, символическое обозначение того, что усопший ушел в Вечную жизнь как воин, одержавший победу на поле брани. Венчик напоминает нам о том, что подвиги христианина на земле в борьбе со всеми страданиями,
      искушениями, соблазнами и страстями кончились, и теперь он ожидает за них награду в Царствии Небесном.</p>
    <h2 id="section_burial_service_title18">В какие дни отпевания не совершаются?</h2>
    <p>В первый день Пасхи и в праздник Рождества Христова усопших в храм не вносят и отпеваний не совершают.</p>
    <h2 id="section_burial_service_title19">Существует ли заочное отпевание?</h2>
    <p>Раньше вообще не было такого понятия как «заочного отпевание». Исключения составляли войны, стихийные бедствия и другие обстоятельства, при которых люди погибали, но их тела невозможно было найти. А в некоторых случаях тела были, но их
      приходилось хоронить в братских могилах без опознания. Вот тогда покойного отпевали заочно. Сейчас же «заочное отпевание» встречается неоправданно часто. И говорит это только об одном – об отношении к усопшему его родственников, которым лень
      вести покойного в храм, или на худой конец батюшку привезти на место погребения или домой. Если человек любит своего близкого и хочет по- христиански его похоронить, то нужно это делать по традиционным правилам Церкви.</p>
    <h2 id="section_burial_service_title20">Что делать родственникам умершего, если они не знают, был ли он отпет?</h2>
    <p>Само по себе отпевание не определяет судьбу человека в инобытии, и не является пропуском в рай. Так что, если родственники не знают, отпет ли их близкий, пусть искренне молятся и творят за него дела милосердия.</p>
    <h2 id="section_burial_service_title21">Можно ли отпевать новопреставленного вместе с другими покойными?</h2>
    <p>Конечно, можно. В первую мировую войну священники отпевали у братской могилы тысячи павших воинов! Разве это было неполноценное чинопоследование? Или, может быть, его надо было разделить по числу отпеваемых? Господь всегда слышит наши молитвы.
      И, значит, самое важное в отпевании – это настроение и усердие, с которым мы молимся об усопшем.</p>
    <h2 id="section_burial_service_title22">Может ли душа попасть на Небеса без отпевания?</h2>
    <p>В первые столетия христианства этого чинопоследования вообще не существовало. И именно в те времена жило огромное количество подвижников веры, святых людей, отцов Церкви. Как видите, отсутствие отпевания не повлияло на их прославление Богом. А
      вспомните мучеников Христа ради! Первых христиан убивали целыми семьями, общинами, бросая ко львам на растерзание. Ведь там даже тел не оставалось! И тогда было не до отпеваний. Давайте вспомним и новомучеников прошлого века, которых
      расстреливали сотнями. Кто их всех отпевал? Несмотря на то, что чинопоследование не проводилось, они причислены к лику святых. Но это, конечно, не говорит о том, что отпевание не является обязательным. Мы все далеко не святые, и молитвы,
      возносимые в церкви, обязательно помогут нашим грешным душам.</p>
    <h2 id="section_burial_service_title23">Почему облачения священников так резко контрастируют с траурной одеждой скорбящих близких умершего?</h2>
    <p>В белых праздничных облачениях священники и крестят, и отпевают. Это имеет большое символическое значение. Если крещение — это рождение во Христе, то отпевание — это рождение души в Жизни Вечной. Оба этих события являются важнейшими этапами
      жизни человека и большими праздниками. Белая одежда священников подчеркивает значимость этих событий.</p>
    <h2 id="section_burial_service_title24">Что означают свечи, которые держат в руках присутствующие на отпевании люди?</h2>
    <img src="{% static 'img/burial_service_img2.jpeg'%}" alt="">
    <p>Символы торжества над смертью содержатся не только в одеждах священника. На отпевании люди всегда держат в руках зажженные свечи. Почему? Потому что свет — символ радости, свет также является символом жизни, победы над мраком, свет – это
      выражение светлой любви к усопшему и теплой молитвы за него. И, конечно, свечи напоминают нам о тех свечах, которые мы держим в пасхальную ночь, свидетельствуя о Воскресении Христовом…</p>
    <p>В одной из своих проповедей митрополит Сурожский Антоний сказал о свечах следующее:</p>
    <p>«На похоронах православные люди стоят с зажженными свечами. Что это значит? Свет — всегда знак радости, но радость бывает разная. Она бывает ликующая, а бывает радость среди слез. Я говорил, что в смерти мы переживаем разлуку и слишком часто
      забываем о том, что нас-то постигает разлука, но усопшего постигает встреча: встреча лицом к лицу с Живым Богом. И вот, стоя с зажженными свечами, с сердцем, разрывающимся от горя, с глазами, полными слез, мы все-таки помним, что совершается
      самое торжественное, самое величественное, что может случиться с человеком: встреча с Живым Богом. И в этом мы ему сопутствуем; мы выражаем его радость, предстоя перед ним и перед Богом с зажженными свечами.</p>
    <p>Но эти свечи говорят еще о другом. Свет — это знак жизни, это знак победы над тьмой, над мраком. Когда мы стоим с этими свечами, мы как бы безмолвно говорим Богу: этот человек зажегся в мире, в полумраке земном, как светоч; он нам светил,
      приносил правду, приносил любовь; его присутствие разогнало сколько-то той тьмы земной, в которой мы так часто не находим своего пути. Он указал нам путь. Мы собраны здесь не только потому, что умер человек, любимый нами, но именно потому, что
      он жил, и мы о его жизни свидетельствуем этим светом».</p>
  </section>
</div>
{% endblock %}
