{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
  <div class="left">
    <section class="section_chistmas_post section_in_group_useful">
      <h1 class="title_page">Поминовение усопших</h1>
      <img src="{% static 'img/dead1.jpg'%}" alt="">
      <h2>Как правильно поминать усопших</h2>
      <p>Обычай поминать усопших встречается уже в Церкви ветхозаветной.С особой ясностью о поминовении усопших упоминают Постановления Апостольские. В них мы находим как молитвы за усопших при совершении евхаристии, так и указание на дни, в которых
        особенно необходимо поминать усопших: третий, девятый, сороковой, годовой. Таким образом, поминовение усопших — это апостольское установление, оно соблюдается во всей Церкви и литургия за усопших, принесение о спасении их Бескровной Жертвы есть
        самое сильное и действенное средство к испрашению усопшим милости Божией.
        </p>
        <p>Церковное поминовение совершается только о тех, кто был крещен в православной вере.</p>
    </section>
  </div>
{% endblock %}
