{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
  <div class="left">
    <section class="section_chistmas_post section_in_group_useful">
      <h1 class="title_page">У Бога все живы</h1>
      <img src="{% static 'img/live.jpg'%}" alt="">
      <p>Хотя ежедневный опыт говорит, что смерть — это непреложный удел каждого человека и закон природы, однако Священное Писание учит, что первоначально смерть не входила в планы Бога о человеке. Смерть не есть Богом установленная норма, а скорее
        уклонение от нее и величайшая трагедия. Из книги Бытия мы узнаем, что смерть вторглась в нашу природу вследствие нарушения первыми людьми Божией заповеди.
        Христианская вера, давая предпочтение духовному началу в человеке, все же видит в нем двухсоставное существо, состоящее из духовной и материальной сторон. Существуют и простые бестелесные существа, как ангелы и бесы. Однако у человека другое
        устройство и назначение. Благодаря телу его природа не только сложнее, но и богаче. Богом определенный союз души и тела — это вечный союз.Смерть, будучи временным разлучением с телом, в Священном Писании именуется то отшествием, то разлучением,
        то успением (2 Пет. 1:15; Фил. 1:23; 2 Тим. 4:6; Деян. 13:36). Что касается временного состояния души со времени ее разлучения с телом и до дня всеобщего воскресения, то Священное Писание учит, что душа продолжает жить, чувствовать и мыслить.
        Слово успение (сон) относится не к душе, а к телу, которое после смерти как бы отдыхает от своих трудов. Душа же, разлучившись с телом, продолжает свою сознательную жизнь.Вспомним притчи Спасителя о богатом и Лазаре (Лк. 16 гл.) и о чуде на
        Фаворе. В первом случае Евангельский богач, находившийся в аду, и Авраам, находившийся в раю, обсуждали возможность послать душу Лазаря на землю к братьям богача, чтобы предостеречь их от ада. Во втором случае жившие задолго до Христа пророки
        Моисей и Илия беседуют с Господом о Его предстоящих страданиях. Еще Христос сказал иудеям, что Авраам увидел Его пришествие, и возрадовался (Ин. 8:56).</p>
      <img src="{% static 'img/live2.jpg'%}" alt="">
      <p>Эта фраза не имела бы смысла, если бы душа Авраама пребывала в бессознательном состоянии, как учат некоторые сектанты о жизни души после смерти. Книга Откровения в образных словах повествует о том, как души праведников на Небе реагируют на
        события, происходящие на земле (Откр. 5–9 главы).
        Православное отношение к смерти определяется будущей встречей с Христом, к которому человек должен стремиться всю земную жизнь. Для неверующего человека смерть – мука разлуки и неизвестности, а для верующего – радость надежды и ожидания встречи
        со Христом.Писание учат верить, что деятельность души продолжается и после ее разлучения с телом. После смерти Бог назначает душе место ее временного пребывания в соответствии с тем, что она заслужила, живя в теле: рай или же ад. Определение в
        то или иное место или состояние предваряется так называемым «частным» судом. Частный суд надо отличать от «всеобщего» суда, который состоится в конце мира. О частном суде Писание учит :«Легко для Господа в день смерти воздать человеку по делам
        его» (Сир. 11:26).и дальше: «Человеку надлежит однажды умереть, а потом суд», — очевидно, индивидуальный (Евр. 9:27).
        Можно предполагать, что в начальной стадии после смерти, когда душа впервые попадает в совершенно новые для нее условия, она нуждается в помощи и руководстве своего Ангела-хранителя. Так, например, в притче о богатом и Лазаре рассказывается,
        что Ангелы взяли душу Лазаря и отвели ее на Небо. Согласно учению Спасителя, Ангелы заботятся о «малых сих» — о детях (в прямом и переносном смысле). Если душа человека жила в чистоте и правде Божией, то она переходит в радостные блаженные
        обители, которые уготовал Господь для любящих Его. Да, мы скорбим, утратив близких и родных, но мы должны в этой скорби своей утешаться мыслью и верой в то, что эта душа перешла в иной мир и ей нужна наша помощь, наша молитва. И тогда скорбь и
        печаль уйдет, она останется надежда, что Господь примет эту душу для вечного блаженства в Царствие Божие.
        О состоянии души до всеобщего воскресения Православная Церковь учит так: «Веруем, что души умерших блаженствуют или мучаются по делам своим. Разлучившись с телом, они тотчас переходят или к радости, или к печали и скорби. Впрочем, не чувствуют
        ни совершенного блаженства, ни совершенного мучения, ибо совершенное блаженство или совершенное мучение каждый получит после всеобщего воскресения, когда душа соединится с телом, в котором жила добродетельно или порочно» (Послание восточных
        патриархов о Православной вере, член 18).
        Православная Церковь различает два состояния души в загробном мире: одно для праведников, другое для грешников — рай и ад. Она не признает римско-католического учения о среднем состоянии в чистилище, поскольку в Священном Писании нет никакого
        указания на среднее состояние. При этом Церковь учит, что мучения грешников в аду могут быть сняты по молитвам за них и по добрым делам, совершаемым в их память. Отсюда обычай подавать помянники за Литургией с именами живых и умерших.
        Смерть остается таинством: сколько бы ни говорили о ней, мы не сможем не только исчерпать эту тему, но и на тысячную долю приблизиться к ее раскрытию. Смерть таинственна в своей непознаваемости. Апостол Павел в послание к Коринфянам приводит
        прекрасное сравнение смерти с зерном, которое сажают в плодородную почву. И если оно не умрет, не даст плода: «Сеется в тлении, восстает в нетлении» (1 Кор. 15: 42). Мы вспоминаем Пасху. Смерть становится жизнью. И не без воли Божией, жизнь
        усопшего мы продолжаем своей жизнью. И нашими руками продолжает усопший творить добрые дела, нашими устами продолжает молиться. Мы несем в себе все , что связано с нашими предками, начиная от Адама и Евы и до настоящего времени. Мы таковы,
        какими были те, кто жил до нас, кто дал нам жизнь. От сотворения человека до всеобщего воскресения из мертвых мы составляем одну судьбу, одно общее тело. Это тело называется Церковью. Когда мы молимся — вот они, те, за кого молимся, они рядом с
        нами. Это происходит на проскомидии, когда вынимается частички за усопших. Они живы в Церкви.
        У каждого свой срок. Причем, как показывает опыт, человек уходит в вечность, когда достигает оптимального срока. Когда он готов к вечности, он переступает ее порог. Когда он совершает все, что предначертано для спасения его и его ближних, тогда
        Господь принимает его душу. Это может быть и в 20 лет, и в 90. Но каждому Господь дает задание и возможность исполнить это задание.
        Смерть близкого человека всегда наступает внезапно, даже если ее ждешь и готовишься к ней. Горе слишком широко, чтобы его обойти, слишком высоко, чтобы его перепрыгнуть, и слишком глубоко, чтобы под ним проползти; через горе можно только
        пройти, — говорит народная мудрость.</p>
      <h2>В старые времена в народе были традиции плача.</h2>
      <img src="{% static 'img/live3.jpg'%}" alt="">
      <p>Приведу для примера такую историю:</p>
      <p>Мать привезла в сельскую больницу умирающего десятилетнего сына. Он случайно глотнул уксусной эссенции. Когда она поняла, что он умер, то закричала, а потом завыла. Через несколько минут вой перешел в плач и причитания: «Сиротинушка моя,
        ягодка моя, на кого ж ты меня покинул… » Этот плач организовывал пространство боли, вводил в рамки неистовую шоковую реакцию, связанную со смертью сына. Она целый час причитала, проговаривая жизнь ребенка и свое горе, а потом успокоилась и
        замолчала. Утром она была совершенно адекватной женщиной. Да, она потеряла сына. Это ужасная боль, но она уже была спокойна и способна делать какие-то дела. И мне кажется, утрата народной традиции, каким являются плачи-причитания, — это очень
        большая утрата, потому что она смягчала саму боль.
        Очень сильную помощь может оказать слово Божие. Однажды в хосписе умирал отец семейства. Члены семьи наблюдали агонию и не знали что делать. Им предложили почитать Евангелие. Через три часа он умер. Они выходят и шепчут: «Он ушел». Но в их
        глазах не было трагедии и отчаяния, а только ощущение, что они присутствовали при таинстве. Смерть не напугала их, а, благодаря словам Вечной книги, была воспринята как переход или рождение в мир иной.

        Каждый из нас обладает своим личностным временем и пространством. Например, дети (почему старики их так любят) живут в другом пространстве и времени — оно тянется гораздо медленнее, чем у взрослого. Ребенок привлекает к восприятию жизни еще и
        свое воображение — он не скучает. Дайте ему игрушку или расскажите сказку — он переживет целую жизнь. Он не зацикливается на всех своих печалях в отличие от взрослых. Ребенок излучает такое количество энергии, которое намного превосходит его
        собственные потребности в ней. Мы всегда думаем, что родители согревают ребенка. Но чаще бывает наоборот — именно ребенок согревает своим душевным теплом родителей и дает силы для жизни. В ситуации горя важно, чтобы другой человек сумел вас
        принять. Принятие — это сопереживание. Это очень непросто. Помните у Тютчева: «И нам сочувствие дается, как нам дается благодать». Когда вас слушают и сопереживают — это особое слушание. Потому что берут и кладут себе на спину ваше горе. И
        наступает облегчение.

        В Евангелии, когда Христос в Гефсиманском саду страдал и несколько раз просил своих учеников: «Не спите, побудьте со Мною» ,а они каждый раз засыпали? Так вот Его слова — эта ключевая фраза, которая дает решение чем и как помочь другому. Мы же
        все время носим какие-то маски и пытаемся соответствовать им. А то, что хорошо для толпы, плохо для личности. Если вы хотите рыдать, то рыдайте.</p>
      <h2>Как приготовиться к естественной смерти близкого?</h2>
      <p>Единственный общий рецепт — это обращение к Богу. Если ты доверяешь своего любимого человека Богу, то ты молишься вместе с ним, молишься за него как за себя, и тогда этот страх уходит. Вспомните случай, когда преподобный Серафим Саровский
        предложил своей духовной дочери Елене попросить у Господа смерти и умереть вместо своего брата — Мотовилова. Так и случилось.
        Горе после смерти любимого человека, если оно очень глубоко и продолжительно, может омрачить всю последующую жизнь остающихся жить. Его последствия могут отразиться на их психическом равновесии и подорвать здоровье.
        Горе нужно принять и глубоко пережить; потеря должна быть воспринята не только умом, но и сердцем, не только интеллектуально, но и эмоционально. Без такого полного переживания горе будет очень продолжительным и может повести к хронической
        депрессии, потере радости жизни и даже всякого желания жить.
        Неизжитое горе чаше всего бывает у тех, кто не мог хорошо проститься с умершим. Он не видела мертвого тела и появляется желание отрицать реальность смерти.
        Есть мудрость в том, как раньше прощались с умершим близким человеком. Не скрывали своих чувств, плакали и горевали открыто. Тело держали в доме, проводили ночь у тела, читая Псалтирь или молясь, или просто сидя возле. Церковные службы,
        панихиды, достойные проводы и похороны. Последнее целование, участие в засыпании могилы. Поминки, -даже плакальщицы — все это помогало родственникам в изживании горя. Подумайте и о том, что душа умершего продолжает жить, что она в это время
        находится вблизи тела и видит вас и все, что происходит.
        Церковь учит, чтобы над телом покойного был прочитан Канон на исход души, а затем как можно дольше читалась Псалтирь.
        Ушедший от вас не умер, его душа с вами и думает о вас. Она близко, и ей не все равно, видит ли она свое тело замороженным в ящике морга или любимых людей, молящихся около тела. Дети тоже непременно должны видеть умершего и проститься с ним.
        После похорон возвращение в опустевший дом может быть очень горьким. Одиночество. Жизнь кажется пустой. Хочется уйти от всего и зарыться в себя. Может облегчить молитва и мысль о том, что смерть — это только переход и что вы снова встретитесь.
        Кроме того, у всех есть друзья, и они в этой время помогут разделить горе.

        У евреев был хороший обычай. После похорон, время от времени, у родственников умершего собираются друзья и побуждают их вспомнить и рассказать о нем. Много не говорят — слушают, а если родные не хотят рассказывать — не настаивают. Просто
        посидят молча, так тоже хорошо.

        Нехорошо смягчать горе лекарствами, его нужно изжить. Неизжитое горе уходит вглубь.

        Не нужно превращать умершего в фетиш, хранить его вещи, одежду и прочее. Ему нужно дать умереть. Это не безразличие и не эгоизм. Не нужно забывать умершего, наоборот, нужно сохранить светлую память о нем до конца своих дней, но жить нужно без
        депрессии, без постоянного «горького горя», сохранив себя для жизни с другими. Забывать вовсе не нужно. Траур имеет смысл — есть обязанности и по отношению к умершему. Важно это и для себя — горевать лучше открыто.

        Архиепископ Антоний Женевский пишет: «Душа умершего в ином мире сама не может, хотя бы и хотела, коренным образом измениться и начать новую жизнь, которая совершенно отличалась бы от ее жизни на земле… Для ее изменения необходима помощь извне».

        Душа может соучаствовать в наших молитвах за нее и может и должна молиться вместе с нами. Это помогает ей очиститься и ускорит ее развитие. Она может молиться и за нас, живущих.
        Отец Сергий Булгаков пишет: «Молитвы действенны, умершие нуждаются в наших молитвах».</p>
      <p>Может быть, вы не верите в действенность молитвы за умерших? Но подумайте о том, что она им нужна и они ждут ее, пока вы тут сомневаетесь.

        Есть много свидетельств тому, что умершие являются живым в их снах или видениях и просят молиться за них. Есть сообщения и в Житиях святых и в наше время, говорящие о том, что душа умершего после молитв и церковных служб за нее обретала покой.

        Феофан Затворник умел послать слова утешения не только умирающим, но и их родственникам. Матери, недавно схоронившей дочь, он написал:

        «Милость Божия да будет с вами. Плачьте, плачьте. В этом нет ничего неестественного и укорного. Диво было бы, если бы мать не плакала о смерти дочери. Но при этом надо знать меру: не убиваться и не забывать тех понятий о смерти и умерших,
        которые даются нам христианством.

        Умерла.’ Не она умерла, а умерло тело; а она жива, и так же живет, как и мы, только в другом образе бытия. Она и к вам приходит и смотрит на вас. И надо полагать, дивиться, что вы плачете и убиваетесь, когда ей лучше. Тот образ бытия выше
        нашего. Если бы вы могли поговорить с ней лицом к лицу и попросить ее опять войти в тело, она ни за что не согласилась бы… Ну вот и поплачьте. Только все немножко… Благослови вас, Господи, и утеши!»

        Молясь за умерших, мы говорим: «Упокой, Господи, душу раба Твоего». А веря, что при нашей помощи может молиться душа умершего, мы произносим и другие слова: «Упокой, Господи, душу усопшего раба твоего, нами Тебе молящегося.

        Особенно действенны молитвы за умерших, творимые в церкви, во время Божественной литургии. Вы подаете просфору за упокоение души и с ней записку с именами тех, за кого вы просите священника помолиться.

        Из поданных молящимися просфор священник вырезает частицы и, опустив их в чашу, молится об упокоении усопших. Это самое большое, что вы можете сделать для умерших дорогих вам людей.

        Христианство учит: «Души святых и праведных и любящих нас умерших родственников молятся за нас, как и мы за них.

        Протоиерей Путятин пишет: «Связанных союзом любви не разлучит Бог. Бог есть беспредельная любовь. Неужели, научая здесь нас любить друг друга, Бог будет по смерти отлучать нас от этой любви?»</p>
    </section>
  </div>
{% endblock %}
