{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
  <div class="left">
    <section class="section_help">
      <h1 class="title_page">Помощь храму</h1>
      <img class="section_help_main_img" src="{% static 'img/img_help_main.jpg'%}" alt="">
      <h2>Наш храм остро нуждается в Вашей помощи</h2>
      <p>В настоящее время в храме почти закончена отделка. Но еще предстоит много работы, от росписи внутреннего убранства храма до строительства иконостаса и обустройства территории, отвод для стока воды и т.д.</p>
      <p>На все это нужны не малые средства, которыми Приход, увы, не обладает. Направляя это обращение, просим Вас оказать посильную поддержку этому благородному начинанию. Забота о благолепии храма Божия является великой добродетелью. Поэтому Святая Церковь ежедневно возносит свои молитвы о «благочестивых создателях святаго храма сего», «о плодоносящих и добро деющих во святем и всечестнем храме сем», к каковым причисляются все те, кто участвуют в созидании храма через свой труд или пожертвования.</p>
      <p>Да благословит вас Господь!</p>
      <h2>Осуществить пожертвование возможно:</h2>
      <h3 class="help_li_title">1. Через банк</h3>
      <p>Банковские реквизиты храма:</p>
      <p>Местная религиозная организация православный приход (МРОПП) Лазаревского храма с. Благовещение, Сергиево-Посадского района Московской области Московской епархии Русской Православной Церкви</p>
      <p>Адрес: Московская область, Сергиево-Посадский муниципальный район, с. Благовещение</p>
      <p>здесь будут реквизиты нопока их нет так как это не финальная версия</p>
      <div class="swiper">
        <div class="left_event left"><img src="{% static 'img/left.png' %}" alt=""></div>
        <div class="content_swiper">
          <img src="{% static 'img/help_img1.jpg'%}" alt="">
          <img src="{% static 'img/help_img2.jpg'%}" alt="">
          <img src="{% static 'img/help_img3.jpg'%}" alt="">
          <img src="{% static 'img/help_img4.jpg'%}" alt="">
          <img src="{% static 'img/help_img5.jpg'%}" alt="">
          <img src="{% static 'img/help_img6.jpg'%}" alt="">
        </div>
        <div class="right_event right"><img src="{% static 'img/right.png' %}" alt=""></div>
      </div>
    </section>
  </div>
  <script src="{% static 'js/swiper.js' %}"></script>
  <script>
    window.onload = function() {
      new_swiper(document.querySelector(".swiper"))
    }
  </script>
{% endblock %}
