{% extends 'mainapp/base.html' %}

{% block content %}
  <section class="left">
    <h2 class="title_page">Главная</h2>
    <p>Дорогие братья и сестры!</p>
    <p>Храм в честь святого праведного Лазаря, епископа Китийского расположен на выезде с пос. Гражданский г. Сергиева Посада на Новом кладбище.</p>
    <p>Храм открыт ежедневно с 8.30 до 16.00, в субботу до 18.00.</p>
    <p>Часы и Божественная литургия совершаются в воскресенье и праздничные дни в 8.30, Всенощное бдение  в 16.00. Порядок богослужений указан в разделе «Расписание богослужений».</p>
    <p>В храме совершаются чин отпевания и панихиды по усопшим, можно заказать литию по умершему.</p>
  </section>
{% endblock %}
