{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
  <div class="left">
    <section class="section_chistmas_post section_in_group_useful">
      <h1 class="title_page">Постимся постом приятным</h1>
      <img src="{% static 'img/post_img1.jpg'%}" alt="">
      <p>Пост может быть неугоден Господу, молитва не будет Им принята, зов к Богу останется без ответа, если наше благочестие не будет растворено любовью к окружающим нас людям. Деятельное выражение такой любви у христиан называется милостыней. И это
        не просто десятирублевка, брошенная в кружку нищего на церковной паперти. Милостыня заключается в том, чтобы участвовать в чужой беде, помогать тем, кому сейчас плохо, ущемлять себя ради других. Вот как говорит об этом Иоанн Златоуст: “Смысл
        поста не в том, чтобы мы с выгодой не ели, но в том, чтобы приготовленное для тебя съел бедный вместо тебя. Для тебя это вдвойне благо: и сам ты постишься, и другой не голодает”. Замену мяса рыбой в пост святитель объяснял тем, что рыба дешевле
        мяса, и сэкономленные деньги христианин может отдать тем, кто в них нуждается. Поэтому, когда сегодня в “постном” меню модного ресторана видишь какой-нибудь “шашлык из осетрины”, стоимостью “всего” в семьсот рублей порция, невольно
        задумываешься о целесообразности такого интересного способа воздержания от мяса.</p>
      <p>А на обложке книги, содержащей рецепты блюд постной кухни, можно прочитать вовсе уж жизнерадостный заголовок: “Постимся постом приятным!”. Очевидно, предполагается, что приятность от поста должен испытывать сам постящийся, отведав постной
        вкуснятины, приготовленной по предложенным в книге рецептам. И как-то даже не сразу приходит на ум, что пост – это жертва. Наша жертва Богу. И приятна она должна быть, конечно же, не нам, а Господу. Как об этом и поет Церковь в первый день
        Великого Поста в стихире на вечерней службе (откуда, собственно, и была бездумно выдернута фраза о “приятном посте”): “Постимся постом приятным, благоугодным Господу: истинный пост есть злобы отчуждение, воздержание языка, ярости отложение,
        похотей отлучение, обвинений, лжи и клятвопреступления. Сих оскудение – пост истинный есть, и благоприятный”.</p>
      <p>«Перейди на более простую, дешевую пищу и употреби средства, высвободившиеся от такой перемены стола, в помощь тем, кто беднее и несчастнее тебя. Это и будет тот благоугодный и приятный Господу пост, к которому призывает христиан Церковь.»</p>
      <p>святитель Иоанн Златоуст</p>
      <img src="{% static 'img/post_img2.jpg'%}" alt="">
    </section>
  </div>
{% endblock %}
