{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
<div class="left">
  <section class="section_chistmas_post section_in_group_useful">
    <h1 class="title_page">Молитвы о усопших</h1>
    <img src="{% static 'img/prayers_for_the_dead.jpg' %}" alt="">
    <ul class="mini_navigation_on_pages">
      <li><a href="#section_prayers_for_the_dead_title1">Молитва об усопшем христианине.</a></li>
      <li><a href="#section_prayers_for_the_dead_title2">Молитва вдовца.</a></li>
      <li><a href="#section_prayers_for_the_dead_title3">Молитва родителей о почивших детях.</a></li>
      <li><a href="#section_prayers_for_the_dead_title4">Молитва детей об усопших родителях.</a></li>
      <li><a href="#section_prayers_for_the_dead_title5">Молитва вдовы.</a></li>
      <li><a href="#section_prayers_for_the_dead_title6">Чин литии, совершаемой мирянином дома и на кладбище.</a></li>
    </ul>
    <h2 id="section_prayers_for_the_dead_title1">Молитва об усопшем христианине</h2>
    <p>Помяни, Господи Боже наш, в вере и надежди живота вечнаго преставльшагося раба Твоего, брата нашего (имя), и яко Благ и Человеколюбец, отпущаяй грехи, и потребляяй неправды, ослаби, остави и прости вся вольная его согрешения и невольная,
      избави его вечныя муки и огня геенскаго, и даруй ему причастие и наслаждение вечных Твоих благих, уготованных любящым Тя: аще бо и согреши, но не отступи от Тебе, и несумненно во Отца и Сына и Святаго Духа, Бога Тя в Троице славимаго, верова, и
      Единицу в Троице и Троицу во Единстве, православно даже до последняго своего издыхания исповеда. Темже милостив тому буди, и веру, яже в Тя вместо дел вмени, и со святыми Твоими яко Щедр упокой: несть бо человека, иже поживет и не согрешит. Но
      Ты Един еси кроме всякаго греха, и правда Твоя, правда во веки, и Ты еси Един Бог милостей и щедрот, и человеколюбия, и Тебе славу возсылаем Отцу и Сыну и Святому Духу, ныне и присно, и во веки веков. Аминь.</p>
    <h2 id="section_prayers_for_the_dead_title2">Молитва вдовца.</h2>
    <p>Христе Иисусе, Господи и Вседержителю! В сокрушении и умилении сердца моего молюся Тебе: упокой, Господи, душу усопшия рабы Твоея (имя), в Небеснем Царствии Твоем. Владыко Вседержителю! Ты благословил еси супружесткий союз мужа и жены, егда
      рекл еси: не добро быти человеку единому, сотворим ему помощника по нему. Ты освятил еси союз сей во образ духовнаго союза Христа с Церковию. Верую, Господи, и исповедую, яко ты благословил еси сочетати и мене сим святым союзом с единою из
      рабынь Твоих. Твоей же благой и премудрой воле изволися отъяти у мене сию рабу Твою, юже дал еси мне, яко помощницу и сопутницу жизни моея. Преклоняюся пред сею Твоею волею, и молюся Ти от всего сердца моего, приими моление мое сие о рабе Твоей
      (имя), и прости ей, аще согреши словом, делом, помышлением, ведением и неведением; аще земное возлюби паче небеснаго; аще о одежде и украшении тела своего печеся паче, неже о просвещении одеяния души своея; или аще небреже о чадех своих; аще
      преогорчи кого словом или делом; аще поропта в сердце своем на ближняго своего или осуди кого или ино что от таковых злых содела. Вся сия прости ей, яко благий и человеколюбивый: яко несть человек, иже жив будет и не согрешит. Не вниди в суд с
      рабою Твоею, яко созданием Твоим, не осуди ю по грехом ея на вечныя муки, но пощади и помилуй по велицей милости Твоей. Молю и прошу Тя, Господи, сил даруй ми по вся дни жизни моея не преставая молитися о усопшей рабе Твоей, и даже до кончины
      живота моего просити ей у Тебе, Судии всего мира, оставления согрешений ея. Да яко же Ты, Боже, положил еси на главу ея венец от камене честна, венчая ю зде на земли; тако увенчай ю вечною Твоею славою в Небеснем Царствии Твоем, со всеми
      святыми, тамо ликующими, да вкупе с ними вечно воспевает всесвятое имя Твое с Отцем и Святым Духом. Аминь.</p>
    <h2 id="section_prayers_for_the_dead_title3">Молитва родителей о почивших детях.</h2>
    <p>Господи Иисусе Христе, Боже наш, Владыко живота и смерти, Утешителю скорбящих! С сокрушенным и умиленным сердцем прибегаю к Тебе и молюся Ти: помяни. Господи, во Царствии Твоем усопшего раба Твоего (рабу твою), чадо мое (имя), и сотвори ему
      (ей) вечную память. Ты, Владыко живота и смерти, даровал еси мне чадо сие. Твоей же благой и премудрой воле изволися и отъяти е у мене. Буди благословенно имя Твое, Господи. Молю Тя, Судие неба и земли, безконечною любовию Твоею к нам, грешным,
      прости усопшему чаду моему вся согрешения его, вольная и невольная, яже словом, яже делом, яже ведением и неведением. Прости, Милостиве, и наша родительская согрешения, да не пребудут они на чадех наших: вем, яко множицею согрешихом пред Тобою,
      множицею не соблюдохом, не сотворихом, якоже заповедал еси нам. Аще же усопшее чадо наше, нашея или своея ради вины, бяше в житии сем, работая миру и плоти своея, и не паче Тебе, Господу и Богу своему: аще возлюби прелести мира сего, а не паче
      Слово Твое и заповеди Твоя, аще предавшеся сластем житейским, а не паче сокрушению о гресех своих, и в невоздержании бдение, пост и молитву забвению предавше — молю Тя усердно, прости, преблагий Отче, чаду моему вся таковыя прегрешения его,
      прости и ослаби, аще и ино злое сотвори в житии сем. Христе Иисусе! Ты воскресил еси дщерь Иаира по вере и молитве отца ея. Ты исцелил еси дщерь жены-хананеянки по вере и прошению матери ея: услыши убо и молитву мою, не презри и моления моего о
      чаде моем. Прости, Господи, прости вся согрешения его и, простив и очистив душу его, изми муки вечныя и всели со всеми святыми Твоими, от века благоугодившими Тебе, идеже несть болезнь, ни печаль, ни воздыхание, но жизнь безконечная: яко несть
      человек, иже жив будет и не согрешит, но Ты Един еси кроме всякаго греха: да егда имаши судити мирови, услышит чадо мое превожделенный глас Твой: приидите, благословенные Отца Моего, и наследуйте уготованное вам Царствие от сложения мира. Яко
      Ты еси Отец милостей и щедрот. Ты живот и воскрешение наше, и Тебе славу возсылаем со Отцем и Святым Духом, ныне и присно и во веки веков. Аминь.</p>
    <h2 id="section_prayers_for_the_dead_title4">Молитва детей об усопших родителях.</h2>
    <p>Господи, Иисусе Христе, Боже наш! Ты сирых хранитель, скорбящих прибежище и плачущих утешитель. Прибегаю к тебе аз, сирый, стеня и плача, и молюся Тебе: услыши моление мое и не отврати лица Твоего от воздыханий сердца моего и от слез очей
      моих. Молюся Тебе, милосердый Господи, утоли скорбь мою о разлучении с родившим и воспитавшим {родившей и воспитавшей) мя родителем моим (материю моею), (имя) (или: с родившими и воспитавшими мя родителями моими, имена их) — , душу же его (или:
      ея, или: их), яко отшедшую (или: отшедшие) к Тебе с истинною верою в Тя и с твердою надеждою на Твое человеколюбие и милость, приими в Царство Твое Небесное. Преклоняюсь пред Твоею святою волею, еюже отъят (или: отъята, или: отъяты) бысть у
      мене, и прошу Тя, не отыми точию от него (или: от нея, или: от них) милости и благосердия Твоего. Вем, Господи, яко Ты Судия мира сего, грехи и нечестия отцев наказуеши в детях, внуках и правнуках даже до третьяго и четвертого рода: но и
      милуеши отцев за молитвы и добродетели чад их, внуков и правнуков. С сокрушением и умилением сердца молю Тя, милостивый Судие, не наказуй вечным наказанием усопшаго незабвеннаго (усопшую незабвенную) для мене раба Твоего (рабу Твою), родителя
      моего (матерь мою) (имя), но отпусти ему (ей) вся согрещения его (ея) вольная и невольная, словом и делом, ведением и неведением сотворенная им (ею) в житии его (ея) зде на земле, и по милосердию и человеколюбию Твоему, молитв ради Пречистыя
      Богородицы и всех святых, помилуй его (ю) и вечныя муки избави. Ты, милосердый Отче отцев и чад! Даруй мне, во все дни жизни моея, до последняго издыхания моего, не преставати памятовати о усопшем родителе моем (усопшей матери моея) в молитвах
      своих, и умоляти Тя, праведнаго Судию, да вчиниши его (ю) в месте светле, в месте прохладно и в месте покойне, со всеми святыми, отнюду же отбеже всяка болезнь, печаль и воздыхание. Милостиво Господи! Приими днесь о рабе Твоем (Твоей) (имя)
      теплую молитву мою сию и воздай ему (ей) воздаянием Твоим за труды и попечения воспитания моего в вере и христианском благочестии, яко научившему (научившей) мя первее всего ведети Тя, своего Господа, в благоговении молиться Тебе, на Тебе
      Единаго уповати в бедах, скорбех и болезнех и хранити заповеди Твоя; за благопопечение его (ся) о моем духовном преуспеянии, за тепле приносимыя им (ею) о мне моления пред Тобою и за все дары, им (ею) испрошенные мне от Тебе, воздай ему (ей)
      Своею милостию. Своими небесными благами и радостями в вечном Царствии Твоем. Ты бо еси Бог милостей и щедрот и человеколюбия, Ты покой и радость верных рабов Твоих, и Тебе славу возсылаем со Отцем и Святым Духом, и ныне и присно и во веки
      веков. Аминь.</p>
    <h2 id="section_prayers_for_the_dead_title5">Молитва вдовы.</h2>
    <p>Христе Иисусе, Господи и Вседержителю! Ты плачущих утешение, сирых и вдовиц заступление. Ты рекл еси: призови Мя в день скорби твоея, и изму тя. Во дни скорби своея прибегаю к Тебе аз и молюся Ти: не отврати лица Твоего от мене и услыши
      моление мое, приносимое Тебе со слезами. Ты, Господи Владыко всяческих, благоволил еси сочетати мя с единым из рабов Твоих, во еже быти нам едино тело и един дух; Ты дал еси мне сего раба, яко сожителя и защитника. Твоей же благой и премудрой
      воле изволися отъяти от мене сего раба Твоего и оставити мя едину. Преклоняюся пред сею Твоею волею и к Тебе прибегаю во дни скорби моея: утоли печаль мою о разлучении с рабом Твоим, другом моим. Аще отъял еси его от мене, не отыми от мене
      Своея милости. Яко же некогда приял еси вдовицы две лепты, тако приими и сие моление мое. Помяни, Господи, душу усопшего раба Твоего (имя), прости ему все согрешения его, вольная и невольная, аще словом, аще делом, аще ведением и неведением, не
      погуби его со беззаконми его и не предаждь вечной муке, но по велицей милости Твоей и по множеству щедрот Твоих ослаби и прости вся согрешения его и вчини его со святыми Твоими, идеже несть болезнь, ни печаль, ни воздыхание, но жизнь
      безконечная. Молю и прошу Тя, Господи, даруй ми во вся дни жизни моея не преставати молитися о усопшем рабе Твоем, и даже до исхода моего просити у Тебе, Судии всего мира, оставления всех согрешений его и вселения его в Небесные обители, яже
      еси уготовал любящим Тя. Яко аще бо и согреши, но не отступи от Тебе, и несумненно Отца и Сына и Святаго Духа православно даже допоследняго своего издыхания исповеда; тем же веру его, яже в Тя, вместо дел ему вмени: яко несть человек, иже жив
      будет и не согрешит, Ты един кроме греха, и правда Твоя — правда во веки. Верую, Господи, и исповедую, яко Ты услышиши моление мое и не отвратиши лица Твоего от мене. Видя вдовицу, зельне плачущу, умилосердився, сына ея, на погребение несома,
      воскресил еси: тако умилосердився, утиши и скорбь мою. Яко же отверзл еси рабу Твоему Феофилу, отшедшему к Тебе, двери милосердия Твоего и простил еси ему прегрешения его по молитвам Святыя Церкве Твоея, внемля молитвам и милостыням супруги
      его: сице и аз молю Тя, приими мое моление о рабе Твоем и введи его в жизнь вечную. Яко Ты еси упование наше. Ты еси Бог, еже миловати и спасати, и Тебе славу возсылаем со Отцем и Святым Духом. Аминь.</p>
    <h2 id="section_prayers_for_the_dead_title6">Чин литии, совершаемой мирянином дома и на кладбище.</h2>
    <p>
      Молитвами святых отец наших, Господи Иисусе Христе, Боже наш, помилуй нас. Аминь.
      Слава Тебе, Боже наш, слава Тебе.
      Царю Небесный, Утешителю, Душе истины, Иже везде сый и вся исполняяй, Сокровище благих и жизни Подателю, прииди и вселися в ны, и очисти ны от всякия скверны, и спаси, Блаже, души наша.
      Трисвятое
      Святый Боже, Святый Крепкий, Святый Безсмертный, помилуй нас. (Читается трижды, с крестным знамением и поясным поклоном.) Слава Отцу и Сыну и Святому Духу, и ныне и присно и во веки веков. Аминь.
      Молитва ко Пресвятой Троице
      Пресвятая Троице, помилуй нас; Господи, очисти грехи наша; Владыко, прости беззакония наша; Святый, посети и исцели немощи наша, ймене Твоего ради. Господи, помилуй.(Трижды) Слава Отцу и Сыну и Святому Духу и ныне и присно и во веки веков.
      Аминь.
      Молитва Господня
      Отче наш, Иже еси на небесех! Да святится имя Твое, да прийдет Царствие Твое, да будет воля Твоя, яко на небеси и на земли. Хлеб наш насущный даждь нам днесь; и остави нам долги наша, якоже и мы оставляем должником нашим; и не введи нас во
      искушение, но избави нас от лукаваго.
      Господи, помилуй (12 раз).
      Приидите, поклонимся Цареви нашему Богу. (Поклон)
      Приидите, поклонимся и припадем Христу, Цареви нашему Богу. (Поклон)
      Приидите, поклонимся и припадем Самому Христу, Цареви и Богу нашему. (Поклон)
      Псалом 90
      Живый в помощи Вышняго, в крове Бога Небеснаго водворится. Речет Господеви: Заступник мой еси, и Прибежище мое, Бог мой, и уповаю на Него. Яко Той избавит тя от сети ловчи и от словесе мятежна. Плещма Своима осенит тя, и под криле Его
      надеешися. Оружием обыдет тя истина Его, не убоишися от страха нощнаго, от стрелы летящия во дни, от вещи во тьме преходящия, от сряща и беса полуденнаго. Падет от страны твоея тысяща, и тмa одесную тебе, к тебе же не приближится. Обаче очима
      твоима смотриши, и воздаяние грешников узриши. Яко Ты, Господи, упование мое, Вышняго положил еси прибежище твое. Не приидет к тебе зло, и рана не приближится телеси твоему. Яко ангелом Своим заповесть о тебе, сохранити тя во всех путех твоих.
      На руках возмут тя, да не когда преткнеши о камень ногу твою. На аспида и василиска наступиши, и попереши льва и змия. Яко на Мя упова, и избавлю и; покрыю и, яко позна имя Мое. Воззовет ко Мне, и услышу его; с ним есмь в скорби изму его, и
      прославлю его; долготою дней исполню его, и явлю ему спасение Мое.
      Слава Отцу и Сыну и Святому Духу, и ныне и присно и во веки веков. Аминь. Аллилуиа, аллилуиа, аллилуиа, слава Тебе, Боже (Трижды).
      Тропарь, глас 4-й

      Со духи праведных скончавшихся душу раба Твоего (рабы Твоея), Спасе, упокой, сохраняя и (ю) во блаженной жизни, яже у Тебе, Человеколюбие.

      В покоищи Твоем, Господи, идеже вси святии Твои упокоеваются, упокой и душу раба Твоего, яко Един еси Человеколюбец.

      Слава Отцу и Сыну и Святому Духу.

      Ты еси Бог, сошедый во ад, и узы окованных разрешивый, Сам и душу раба Твоего упокой.

      И ныне и присно и во веки веков.

      Едина чистая и непорочная Дево, Бога без семене рождшая, моли спастися душе его (ея).

      Седален, глас 5-й

      Покой, Спасе наш, с праведными раба Твоего (рабу Твою), и сего (сию) всели во дворы Твоя, якоже есть писано, презирая, яко Благ, прегрешения его (ея) вольная и невольная, и вся яже в ведении и не в ведении, Человеколюбче.

      Кондак, глас 8-й

      Со святыми упокой, Христе, душу раба Твоего (рабы Твоея), идеже несть болезнь, ни печаль, ни воздыхание, но жизнь безконечная.

      Икос

      Сам Един еси Безсмертный, сотворивый и создавый человека, земнии убо от земли создахомся, и в землю туюжде пойдем, якоже повелел еси, Создавый мя, и рекий ми: яко земля еси, и в землю отъидеши, аможе вси человецы пойдем, надгробное рыдание
      творяще песнь: аллилуиа, аллилуиа, аллилуиа.

      Окончание молитв

      Честнейшую Херувим и славнейшую без сравнения Серафим, без истления Бога Слова рождшую, сущую Богородицу Тя величаем.

      Слава Отцу и Сыну и Святому Духу, и ныне и присно и во веки веков. Аминь.

      Господи, помилуй (трижды), благослови.

      Молитвами святых отец наших, Господи Иисусе Христе, Сыне Божий помилуй нас.

      Во блаженном успении вечный покой подаждь, Господи, усопшему рабу Твоему (усопшей рабе Твоея) (имя), и сотвори ему (ей) вечную память.

      Вечная память (трижды).

      Душа его (ея) во благих водворится, и память его (ея) в род и род.
    </p>
  </section>
</div>
{% endblock %}
